.cursor {
  font-family: MesloLGS NF Regular;
  src: url("@site/src/fonts/MesloLGS NF Font/MesloLGS NF Regular.ttf");
  display: inline-block;
  animation: blink 0.75s step-start infinite;
  font-weight: bold;
  margin-left: 1px; /* 调整光标与文本的间距 */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
